*{margin: 0;padding: 0}
body{background: url("../img/backgroung_01.jpg") no-repeat;background-size: cover}
.container{
    width: 900px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -450px;
    /*border: 1px solid red;*/
    box-shadow: -5px 5px 10px #ccc;
    background-color: rgba(207,207,207,.3);
}
.loginLeft{
    float: left;
    width: 400px;
    height: 100%;
}
.loginRight{
    float: left;
    width: 500px;
    height: 100%;
    /*border: red 1px solid;*/
    box-sizing: border-box;
}
.loginRight h3{
    font-family: "Adobe 仿宋 Std R";
    width: 100%;
    padding: 10px;
}
#form{

}
.loginRight-name{
    width: 500px;
    height:auto ;
    margin: 20px 10px;
}
.loginRight-name input{
    outline: none;
    width: 300px;
    border-radius: 2px;
    padding: 5px;
    border: #ccc 1px solid;
}
.loginRight-name select{
    outline: none;
    width: 300px;
    border-radius: 2px;
    padding: 5px;
    border: #ccc 1px solid;
}
.loginRight-name span{
    display: block;
    float: left;
    width: 100px;
    color: cornflowerblue;
}
.button{
    background-color: #198CFF;
    text-align: center;
    width: 300px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 40px;
}
.form-bottom{
    margin-top: 40px;
}
.form-bottom a{
    text-decoration: none;
}