/*自动组卷部分css*/
.zi_ul{
    font-size: 15px;
    font-family: 黑体;
}
.zi_ul li{
    margin-top: 20px;
    width: 600px;
    /*border: 1px black solid;*/
}
.zi_ul li .txt{
    height: 30px;
    width: 300px;
}
/*.jian{*/
    /*!*width: 20px;*!*/
    /*height: 25px;*/
    /*!*text-align: center;*!*/
/*}*/
.num{
    width: 50px;
    height: 20px;
    text-align: center;
}
.button_sheng{
    width: 100px;
    height: 50px;
    font-size: 18px;
    font-family: 微软雅黑;
    border-radius: 10px;
    background-color: #6DDA79;
    color: white;
}
/*试卷批改部分css*/
table{
    width: 100%;
    height: auto;
    border: 1px black solid;
    text-align: center;
    background-color: #F1F1F1;
}
table .tr_head{
    height: 30px;
    font-size: 18px;
    font-family: 黑体;
    background-color: #BCBCBC;
    color: white;
}

table tr{
    border: 1px black solid;
    height: 50px;
}
table td{
    border: 1px black solid;
}
/*手动组卷部分css*/
.page-content font{
    color: red;
    font-weight: bolder;
}
.page-content textarea{
    width: 500px;
    height: 150px;
    border: 2px #7c7c7c solid;
}
.page-content .shou_head {
    width: 100%;
    height: auto;
    padding-top: 10px;
    border: 1px #7c7c7c solid;
    font-size: 15px;
    font-family: 黑体;
    border-radius: 10px;
    background-color: #E8E8E8;
}
.page-content .shou_head span{
    background-color: green;
    color: white;
    padding: 2px 4px;
    border-radius: 5px;
    font-size: 12px;
}
.page-content .shou_head li{
    margin-top: 5px;
}

/*试卷管理设置部分 css*/
.she_ul{
    font-size: 20px;
    font-family: 黑体;
    list-style: none;
    border: 1px #b4c2cc solid;
    background-color: #EBEBEB;
    margin-top: 20px;
}
.she_ul li{
    padding-left: 20px;
    width: auto;
    height: 45px;
    line-height: 45px;
    border: 1px #b4c2cc solid;
    /*border: 1px black solid;*/
}
.she_ul li .shuru{
    width: 200px;
    height: 30px;
}
.pointer{cursor: pointer;}
.content{display: none;overflow: hidden;}
.content1{width:100%;height:auto;margin-top: 10px;}