<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.echo.web.mapper.OnlineExaminAnalysisMapper" >
  <resultMap id="BaseResultMap" type="com.echo.web.model.OnlineExaminAnalysis" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="student_id" property="studentId" jdbcType="INTEGER" />
    <result column="paper_id" property="paperId" jdbcType="INTEGER" />
    <result column="student_description" property="studentDescription" jdbcType="VARCHAR" />
    <result column="teacher_description" property="teacherDescription" jdbcType="VARCHAR" />
    <result column="analysis_flag" property="analysisFlag" jdbcType="INTEGER" />
    <result column="temp_id1" property="tempId1" jdbcType="VARCHAR" />
    <result column="temp_id2" property="tempId2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, student_id, paper_id, student_description, teacher_description, analysis_flag, 
    temp_id1, temp_id2
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from online_examin_analysis
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from online_examin_analysis
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.echo.web.model.OnlineExaminAnalysis" >
    insert into online_examin_analysis (id, student_id, paper_id, 
      student_description, teacher_description, 
      analysis_flag, temp_id1, temp_id2
      )
    values (#{id,jdbcType=INTEGER}, #{studentId,jdbcType=INTEGER}, #{paperId,jdbcType=INTEGER}, 
      #{studentDescription,jdbcType=VARCHAR}, #{teacherDescription,jdbcType=VARCHAR}, 
      #{analysisFlag,jdbcType=INTEGER}, #{tempId1,jdbcType=VARCHAR}, #{tempId2,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.echo.web.model.OnlineExaminAnalysis" >
    insert into online_examin_analysis
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="studentId != null" >
        student_id,
      </if>
      <if test="paperId != null" >
        paper_id,
      </if>
      <if test="studentDescription != null" >
        student_description,
      </if>
      <if test="teacherDescription != null" >
        teacher_description,
      </if>
      <if test="analysisFlag != null" >
        analysis_flag,
      </if>
      <if test="tempId1 != null" >
        temp_id1,
      </if>
      <if test="tempId2 != null" >
        temp_id2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="studentId != null" >
        #{studentId,jdbcType=INTEGER},
      </if>
      <if test="paperId != null" >
        #{paperId,jdbcType=INTEGER},
      </if>
      <if test="studentDescription != null" >
        #{studentDescription,jdbcType=VARCHAR},
      </if>
      <if test="teacherDescription != null" >
        #{teacherDescription,jdbcType=VARCHAR},
      </if>
      <if test="analysisFlag != null" >
        #{analysisFlag,jdbcType=INTEGER},
      </if>
      <if test="tempId1 != null" >
        #{tempId1,jdbcType=VARCHAR},
      </if>
      <if test="tempId2 != null" >
        #{tempId2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.echo.web.model.OnlineExaminAnalysis" >
    update online_examin_analysis
    <set >
      <if test="studentId != null" >
        student_id = #{studentId,jdbcType=INTEGER},
      </if>
      <if test="paperId != null" >
        paper_id = #{paperId,jdbcType=INTEGER},
      </if>
      <if test="studentDescription != null" >
        student_description = #{studentDescription,jdbcType=VARCHAR},
      </if>
      <if test="teacherDescription != null" >
        teacher_description = #{teacherDescription,jdbcType=VARCHAR},
      </if>
      <if test="analysisFlag != null" >
        analysis_flag = #{analysisFlag,jdbcType=INTEGER},
      </if>
      <if test="tempId1 != null" >
        temp_id1 = #{tempId1,jdbcType=VARCHAR},
      </if>
      <if test="tempId2 != null" >
        temp_id2 = #{tempId2,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.echo.web.model.OnlineExaminAnalysis" >
    update online_examin_analysis
    set student_id = #{studentId,jdbcType=INTEGER},
      paper_id = #{paperId,jdbcType=INTEGER},
      student_description = #{studentDescription,jdbcType=VARCHAR},
      teacher_description = #{teacherDescription,jdbcType=VARCHAR},
      analysis_flag = #{analysisFlag,jdbcType=INTEGER},
      temp_id1 = #{tempId1,jdbcType=VARCHAR},
      temp_id2 = #{tempId2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>