.popup {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.popup .popup_card {
  padding: 35px;
  width: 900px;
  position: absolute;
  top: 150px;
  background-color: #fff;
  left: 50%;
  margin-left: -450px;
  height: 500px;
  overflow-y: auto;
}
.popup .popup_card .popup_close {
  float: right;
  margin: -5px -20px 0 0;
  height: 26px;
  width: 26px;
  cursor: pointer;
  padding: 0 0 0 5px;
  border: 1px solid #0078c3;
  border-radius: 50%;
}
.popup .popup_card .popup_close .close_css {
  position: relative;
  width: 2px;
  left: 6px;
  top: 5px;
  height: 15px;
  background: #0078c3;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.popup .popup_card .popup_close .close_css:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 15px;
  background: #0078c3;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.popup .popup_card .popup_title {
  color: #0078c3;
  padding-bottom: 20px;
  border-bottom: 1px solid #d6d6d6;
}
.popup .popup_card .popup_content {
  font-size: 12px;
  line-height: 2;
  padding-top: 20px;
}
.app-popup .popup_card,
.progress-popup .popup_card {
  width: 600px;
  margin-left: -280px;
  height: 450px;
}
.app-popup .popup_content,
.progress-popup .popup_content {
  font-size: 14px;
}
.hide{display: none;}
