<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.echo.web.mapper.bkuserManagerMapper" >
  <resultMap id="BaseResultMap" type="com.echo.web.model.bkuserManager" >
    <id column="manager_id" property="managerId" jdbcType="INTEGER" />
    <result column="manager_name" property="managerName" jdbcType="VARCHAR" />
    <result column="manager_passwd" property="managerPasswd" jdbcType="VARCHAR" />
    <result column="manager_nichengname" property="managerNichengname" jdbcType="VARCHAR" />
    <result column="manager_sex" property="managerSex" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    manager_id, manager_name, manager_passwd, manager_nichengname, manager_sex
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bkuser_manager
    where manager_id = #{managerId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bkuser_manager
    where manager_id = #{managerId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.echo.web.model.bkuserManager" >
    insert into bkuser_manager (manager_id, manager_name, manager_passwd, 
      manager_nichengname, manager_sex)
    values (#{managerId,jdbcType=INTEGER}, #{managerName,jdbcType=VARCHAR}, #{managerPasswd,jdbcType=VARCHAR}, 
      #{managerNichengname,jdbcType=VARCHAR}, #{managerSex,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.echo.web.model.bkuserManager" >
    insert into bkuser_manager
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="managerId != null" >
        manager_id,
      </if>
      <if test="managerName != null" >
        manager_name,
      </if>
      <if test="managerPasswd != null" >
        manager_passwd,
      </if>
      <if test="managerNichengname != null" >
        manager_nichengname,
      </if>
      <if test="managerSex != null" >
        manager_sex,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="managerId != null" >
        #{managerId,jdbcType=INTEGER},
      </if>
      <if test="managerName != null" >
        #{managerName,jdbcType=VARCHAR},
      </if>
      <if test="managerPasswd != null" >
        #{managerPasswd,jdbcType=VARCHAR},
      </if>
      <if test="managerNichengname != null" >
        #{managerNichengname,jdbcType=VARCHAR},
      </if>
      <if test="managerSex != null" >
        #{managerSex,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.echo.web.model.bkuserManager" >
    update bkuser_manager
    <set >
      <if test="managerName != null" >
        manager_name = #{managerName,jdbcType=VARCHAR},
      </if>
      <if test="managerPasswd != null" >
        manager_passwd = #{managerPasswd,jdbcType=VARCHAR},
      </if>
      <if test="managerNichengname != null" >
        manager_nichengname = #{managerNichengname,jdbcType=VARCHAR},
      </if>
      <if test="managerSex != null" >
        manager_sex = #{managerSex,jdbcType=VARCHAR},
      </if>
    </set>
    where manager_id = #{managerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.echo.web.model.bkuserManager" >
    update bkuser_manager
    set manager_name = #{managerName,jdbcType=VARCHAR},
      manager_passwd = #{managerPasswd,jdbcType=VARCHAR},
      manager_nichengname = #{managerNichengname,jdbcType=VARCHAR},
      manager_sex = #{managerSex,jdbcType=VARCHAR}
    where manager_id = #{managerId,jdbcType=INTEGER}
  </update>
  
  <select id="selectBkUserPage" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select  <include refid="Base_Column_List" /> from bkuser_manager limit ${0},${1}
  </select>
  
</mapper>