<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.echo.web.mapper.OnlineClassMapper" >
  <resultMap id="BaseResultMap" type="com.echo.web.model.OnlineClass" >
    <id column="class_id" property="classId" jdbcType="INTEGER" />
    <result column="class_name" property="className" jdbcType="VARCHAR" />
    <result column="student_id" property="studentId" jdbcType="INTEGER" />
    <result column="paper_id" property="paperId" jdbcType="INTEGER" />
    <result column="paper_flag" property="paperFlag" jdbcType="VARCHAR" />
    <result column="column_one" property="columnOne" jdbcType="VARCHAR" />
    <result column="cloumn_two" property="cloumnTwo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    class_id, class_name,  paper_id, paper_flag, column_one, cloumn_two
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from online_class
    where class_id = #{classId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from online_class
    where class_id = #{classId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.echo.web.model.OnlineClass" >
    insert into online_class (class_id, class_name, student_id, 
      paper_id, paper_flag, column_one, 
      cloumn_two)
    values (#{classId,jdbcType=INTEGER}, #{className,jdbcType=VARCHAR}, #{studentId,jdbcType=INTEGER}, 
      #{paperId,jdbcType=INTEGER}, #{paperFlag,jdbcType=VARCHAR}, #{columnOne,jdbcType=VARCHAR}, 
      #{cloumnTwo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.echo.web.model.OnlineClass" >
    insert into online_class
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="classId != null" >
        class_id,
      </if>
      <if test="className != null" >
        class_name,
      </if>
      <if test="studentId != null" >
        student_id,
      </if>
      <if test="paperId != null" >
        paper_id,
      </if>
      <if test="paperFlag != null" >
        paper_flag,
      </if>
      <if test="columnOne != null" >
        column_one,
      </if>
      <if test="cloumnTwo != null" >
        cloumn_two,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="classId != null" >
        #{classId,jdbcType=INTEGER},
      </if>
      <if test="className != null" >
        #{className,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null" >
        #{studentId,jdbcType=INTEGER},
      </if>
      <if test="paperId != null" >
        #{paperId,jdbcType=INTEGER},
      </if>
      <if test="paperFlag != null" >
        #{paperFlag,jdbcType=VARCHAR},
      </if>
      <if test="columnOne != null" >
        #{columnOne,jdbcType=VARCHAR},
      </if>
      <if test="cloumnTwo != null" >
        #{cloumnTwo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.echo.web.model.OnlineClass" >
    update online_class
    <set >
      <if test="className != null" >
        class_name = #{className,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null" >
        student_id = #{studentId,jdbcType=INTEGER},
      </if>
      <if test="paperId != null" >
        paper_id = #{paperId,jdbcType=INTEGER},
      </if>
      <if test="paperFlag != null" >
        paper_flag = #{paperFlag,jdbcType=VARCHAR},
      </if>
      <if test="columnOne != null" >
        column_one = #{columnOne,jdbcType=VARCHAR},
      </if>
      <if test="cloumnTwo != null" >
        cloumn_two = #{cloumnTwo,jdbcType=VARCHAR},
      </if>
    </set>
    where class_id = #{classId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.echo.web.model.OnlineClass" >
    update online_class
    set class_name = #{className,jdbcType=VARCHAR},
      student_id = #{studentId,jdbcType=INTEGER},
      paper_id = #{paperId,jdbcType=INTEGER},
      paper_flag = #{paperFlag,jdbcType=VARCHAR},
      column_one = #{columnOne,jdbcType=VARCHAR},
      cloumn_two = #{cloumnTwo,jdbcType=VARCHAR}
    where class_id = #{classId,jdbcType=INTEGER}
  </update>
 
  <!-- 查询所有班级 -->
  <select id="queryAllOnlineClass"  resultMap="BaseResultMap" >
  
  select 
  <include refid="Base_Column_List"/>
  from 
  `online_class`
  </select>
</mapper>