<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.echo.web.mapper.OnlineTeacherMapper" >
  <resultMap id="BaseResultMap" type="com.echo.web.model.OnlineTeacher" >
    <id column="teacher_id" property="teacherId" jdbcType="INTEGER" />
    <result column="teacher_nickName" property="teacherNickname" jdbcType="VARCHAR" />
    <result column="teacher_name" property="teacherName" jdbcType="VARCHAR" />
    <result column="teacher_passwd" property="teacherPasswd" jdbcType="VARCHAR" />
    <result column="teacher_sex" property="teacherSex" jdbcType="VARCHAR" />
    <result column="teacher_phone" property="teacherPhone" jdbcType="VARCHAR" />
    <result column="teacher_addres" property="teacherAddres" jdbcType="VARCHAR" />
    <result column="teacher_birthday" property="teacherBirthday" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    teacher_id, teacher_nickName, teacher_name, teacher_passwd, teacher_sex, teacher_phone, 
    teacher_addres, teacher_birthday
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from online_teacher
    where teacher_id = #{teacherId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from online_teacher
    where teacher_id = #{teacherId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.echo.web.model.OnlineTeacher" >
    insert into online_teacher (teacher_id, teacher_nickName, teacher_name, 
      teacher_passwd, teacher_sex, teacher_phone, 
      teacher_addres, teacher_birthday)
    values (#{teacherId,jdbcType=INTEGER}, #{teacherNickname,jdbcType=VARCHAR}, #{teacherName,jdbcType=VARCHAR}, 
      #{teacherPasswd,jdbcType=VARCHAR}, #{teacherSex,jdbcType=VARCHAR}, #{teacherPhone,jdbcType=VARCHAR}, 
      #{teacherAddres,jdbcType=VARCHAR}, #{teacherBirthday,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.echo.web.model.OnlineTeacher" >
    insert into online_teacher
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="teacherId != null" >
        teacher_id,
      </if>
      <if test="teacherNickname != null" >
        teacher_nickName,
      </if>
      <if test="teacherName != null" >
        teacher_name,
      </if>
      <if test="teacherPasswd != null" >
        teacher_passwd,
      </if>
      <if test="teacherSex != null" >
        teacher_sex,
      </if>
      <if test="teacherPhone != null" >
        teacher_phone,
      </if>
      <if test="teacherAddres != null" >
        teacher_addres,
      </if>
      <if test="teacherBirthday != null" >
        teacher_birthday,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="teacherId != null" >
        #{teacherId,jdbcType=INTEGER},
      </if>
      <if test="teacherNickname != null" >
        #{teacherNickname,jdbcType=VARCHAR},
      </if>
      <if test="teacherName != null" >
        #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="teacherPasswd != null" >
        #{teacherPasswd,jdbcType=VARCHAR},
      </if>
      <if test="teacherSex != null" >
        #{teacherSex,jdbcType=VARCHAR},
      </if>
      <if test="teacherPhone != null" >
        #{teacherPhone,jdbcType=VARCHAR},
      </if>
      <if test="teacherAddres != null" >
        #{teacherAddres,jdbcType=VARCHAR},
      </if>
      <if test="teacherBirthday != null" >
        #{teacherBirthday,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.echo.web.model.OnlineTeacher" >
    update online_teacher
    <set >
      <if test="teacherNickname != null" >
        teacher_nickName = #{teacherNickname,jdbcType=VARCHAR},
      </if>
      <if test="teacherName != null" >
        teacher_name = #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="teacherPasswd != null" >
        teacher_passwd = #{teacherPasswd,jdbcType=VARCHAR},
      </if>
      <if test="teacherSex != null" >
        teacher_sex = #{teacherSex,jdbcType=VARCHAR},
      </if>
      <if test="teacherPhone != null" >
        teacher_phone = #{teacherPhone,jdbcType=VARCHAR},
      </if>
      <if test="teacherAddres != null" >
        teacher_addres = #{teacherAddres,jdbcType=VARCHAR},
      </if>
      <if test="teacherBirthday != null" >
        teacher_birthday = #{teacherBirthday,jdbcType=TIMESTAMP},
      </if>
    </set>
    where teacher_id = #{teacherId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.echo.web.model.OnlineTeacher" >
    update online_teacher
    set teacher_nickName = #{teacherNickname,jdbcType=VARCHAR},
      teacher_name = #{teacherName,jdbcType=VARCHAR},
      teacher_passwd = #{teacherPasswd,jdbcType=VARCHAR},
      teacher_sex = #{teacherSex,jdbcType=VARCHAR},
      teacher_phone = #{teacherPhone,jdbcType=VARCHAR},
      teacher_addres = #{teacherAddres,jdbcType=VARCHAR},
      teacher_birthday = #{teacherBirthday,jdbcType=TIMESTAMP}
    where teacher_id = #{teacherId,jdbcType=INTEGER}
  </update>
  
  <!-- 查询所有教师信息 -->
  <select id="queryAllTeacher" resultMap="BaseResultMap">
  select 
<include refid="Base_Column_List"/>
  from
  online_teacher
  </select>
  
    <!-- 分页查询-->
  <select id="queryAllTeacherForPage" resultMap="BaseResultMap">
  select 
<include refid="Base_Column_List"/>
  from
  online_teacher
  limit 
  #{0} , #{1}
  </select>
</mapper>